<form action='/boards/{{boardID}}/lists/new' method='POST'>
  <input type='text' placeholder='Add a list...'>
  <div>
    <input id='create_list' class='button' type='submit' value='Save'>
    <a class='cancel' href='#'></a>
  </div>
</form>
