<div class='popover_header'>
  <h3>Change Due Date</h3>
  <a class='cancel' href='#'></a>
</div>
<div class='body'>
  <form>
    <div class='date_container'>
      <div class='button-link'>
        <span class='label'>Month</span>
        <span class='value'>2</span>
        <select name='month'>
          <option {{#ifCond month 1}}selected{{/ifCond}}>1</option>
          <option {{#ifCond month 2}}selected{{/ifCond}}>2</option>
          <option {{#ifCond month 3}}selected{{/ifCond}}>3</option>
          <option {{#ifCond month 4}}selected{{/ifCond}}>4</option>
          <option {{#ifCond month 5}}selected{{/ifCond}}>5</option>
          <option {{#ifCond month 6}}selected{{/ifCond}}>6</option>
          <option {{#ifCond month 7}}selected{{/ifCond}}>7</option>
          <option {{#ifCond month 8}}selected{{/ifCond}}>8</option>
          <option {{#ifCond month 9}}selected{{/ifCond}}>9</option>
          <option {{#ifCond month 10}}selected{{/ifCond}}>10</option>
          <option {{#ifCond month 11}}selected{{/ifCond}}>11</option>
          <option {{#ifCond month 12}}selected{{/ifCond}}>12</option>
        </select>
      </div>

      <div class='button-link'>
        <span class='label'>Day</span>
        <span class='value'>3</span>
        <select name='day'>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16</option>
          <option>17</option>
          <option>18</option>
          <option>19</option>
          <option>20</option>
          <option>21</option>
          <option>22</option>
          <option>23</option>
          <option>24</option>
          <option>25</option>
          <option>26</option>
          <option>27</option>
          <option>28</option>
          <option>29</option>
          <option>30</option>
          <option>31</option>
        </select>
      </div>

      <div class='button-link'>
        <span class='label'>Year</span>
        <span class='value'>2017</span>
        <select name='year'>
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
          <option>2022</option>
          <option>2023</option>
          <option>2024</option>
          <option>2025</option>
        </select>
      </div>
    </div>

    <div class='buttons_container'>
      <input type='submit' value='Save'>
      <button class='negate' type='button'>Remove</button>
    </div>
  </form>
</div>
