<div id='surface'>
  <div id='header'>
    <a class='logo' href='/'></a>
    <div id='boards'>
      <a href='#'>
        <span></span>
        <span>Boards</span>
      </a>
    </div>

    <div id='search'>
      <input type='text'>
      <span class='search_icon'></span>
      <span class='cancel'></span>
    </div>

    <div id='search_results'>
      <div class='no_results'>We couldn't find any cards that matched your search</div>
      <div class='results'>
      </div>
    </div>

    <div id='user'>
      <a class='add' href='#'>
        <span></span>
      </a>
      <a class='member' href='#'>
        <span class='avatar'>
          <img src='{{avatar}}' alt="{{name}}'s avatar">
        </span>
        <span class='name'>{{name}}</span>
      </a>
      <a class='info' href='#'>
        <span></span>
      </a>
      <a class='notifications' href='#'>
        <span></span>
      </a>
    </div>
  </div>

  <div id='content'>
    <div id='board_wrapper'>
      <div id='board_main'>
        <div id='board_header'></div>
        <div id='board_canvas'><div id='board'></div></div>
      </div>
    </div>
  </div>
</div>
